<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bikeraceapplication" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BikeRaceApplication" >
        <activity
            android:name=".view.Competitor.ViewRaces.Ongoing.OngoingActivity"
            android:exported="false"
            android:label="@string/title_activity_ongoing"
            android:theme="@style/Theme.BikeRaceApplication.NoActionBar" />
        <activity
            android:name=".view.Competitor.ViewRaces.History.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.startingScreens.CompetitorStartingActivity"
            android:exported="false" />
        <activity
            android:name=".view.startingScreens.OrganizerStartingActivity"
            android:exported="false" />
        <activity
            android:name=".view.approveSponsorship.PopUpWindow"
            android:exported="false" />
        <activity
            android:name=".view.Referee.rate.RefereeRateActivity"
            android:exported="false" />
        <activity
            android:name=".view.Referee.race.RefereeRaceActivity"
            android:exported="false" />
        <activity
            android:name=".view.Race.Search.RaceSearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.Competitor.registration.RaceRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".view.Sponsor.SponsorActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.Race.Create.CreateRaceActivity"
            android:exported="false" />
        <activity
            android:name=".view.approveSponsorship.ApproveSponsorshipActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.CheckRaceService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

    </application>

</manifest>